<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet" />
    <title>Blog App</title>
    <%- include('./partials/bootstrap') %>
</head>
<body class="bg-light">
    <%- include('./partials/navbar') %>
    <% if(err) { %>
        <div class="alert alert-danger" role="alert">
            <%=err%>
        </div>
    <% } %>
	
	<div style="height: 1vh"></div>
	
	<div class="container mt-5 pt-2">
	<div class="row m-1">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 d-flex justify-content-center align-items-center"><h1>Home page</h1></div>
		<%if (userID) {%>
		<div class="col-lg-4 d-flex justify-content-center align-items-center">
		<a href="/post" class ="d-flex align-items-center btn btn-primary">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
			<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
			</svg>
			New post
		</a>
		</div>
		<%}%>
	</div>
	</div>
		
	<%- include('./partials/posts') %>
   
</body>
</html>