<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <%- include('./partials/bootstrap') %>
</head>
<body>
    <%- include('./partials/navbar') %>

    <% if(err) { %>
        <div class="alert alert-danger" role="alert">
            <%=err%>
        </div>
    <% } %>

    <form class="col-lg-6 offset-lg-3 " method="post" id="form">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">        
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control">        
        </div>

        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input class="form-control" type="password" name="password">
        </div>

        <div class="form-group">
            <label for="repeat-password">
                Repeat Password
            </label>
            <input class="form-control" type="password" name="repeat_password">
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
           
        </div>
    </form>

    
   
</body>
</html>